<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Page</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WWCR6LY8B9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-WWCR6LY8B9');
</script>

<body>
    <!-- Nav Bar-->
    <div class="navbar-custom">
        <div class="d-flex align-items-center gap-2">
            <a href="/feed" class="logo-container">
                <img src="/images/NAVQS.PNG" alt="pin logo" class="img1">
            </a>
            <a href="/feed" class="nav-link home-link">Home</a>
        </div>
        <div class="nav-links">
            <a href="/profile" class="nav-link profile-link">Profile</a>
            <a href="/logout" class="nav-link">Logout</a>
        </div>
    </div>
    </div>

    <!-- posts -->
    <div class="container">
        <div class="grid">
            <% if (posts && posts.length> 0) { %>
                <% posts.forEach(function(post, index) { %>
                    <div class="card">
                        <!-- Video Player -->
                        <video class="card-video" id="video-<%= post._id %>" controls muted>
                            <source src="/images/uploads/<%= post.image %>" type="video/mp4" class="card-img-top"
                                alt="...">
                            Your browser does not support the video tag.
                        </video>
                        <div class="card-body">
                            <!-- Card contenthere -->
                            <h5 class="card-title">
                                <%= post.imageText %>
                            </h5>
                            <p class="card-text">Posted by: <%= post.user.username %>
                            </p>

                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No posts found.</p>
                            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/javascripts/video.js"></script>
</body>

</html>