<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>QuickStory60</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<!-- Google tag (gtag.js) 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WWCR6LY8B9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-WWCR6LY8B9');
</script>-->

<body>
  <section class="events-page">
    <div id="section1" class="event">
      <div class="pinWrapper">
        <div class="text">
          <h2>QuickStory60</h2>
          <p>A virtual video diary platform for you to document your life.</p>
          <a href="/signup" class="sign-up-btn">Sign Up</a>
          <a href="/login" class="login-btn">Log In</a>
        </div>
        <div class="image" id="loaderVideo">
          <video autoplay loop muted playsinline>
            <source src="/images/brand.MP4" type="video/mp4">
          </video>
        </div>
        <!-- Video -->
      </div>
      <div class="scrollBtn">
        <h6>scroll</h6>
        <span></span>
      </div>
    </div>
    <!-- Section 01 -->
    <div id="section2" class="event">
      <div class="pinWrapper">
        <div class="text">
          <h2>Your Virtual Video Diary</h2>
          <p>Keep a personal digital archive of your experiences.</p>
          <a href="/signup" class="sign-up-btn">Sign Up</a>
          <a href="/login" class="login-btn">Log In</a>
        </div>
        <div class="image"></div>
      </div>
    </div>
    <!-- Section 02 -->
    <div id="section3" class="event">
      <div class="pinWrapper">
        <div class="text">
          <h2>Join Now</h2>
          <p>CAPTURE, SHARE & CONNECT</p>
          <a href="/signup" class="sign-up-btn">Sign Up</a>
          <a href="/login" class="login-btn">Log In</a>
        </div>
        <div class="image"></div>
      </div>
    </div>
  </section>

  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js'></script>
  <script src='https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js'></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>