<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/reg.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/NAVQS.PNG">
</head>
<!-- Google tag (gtag.js)-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WWCR6LY8B9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-WWCR6LY8B9');
</script>

<body>
  <div class="text">
    <h2>QuickStory60</h2>
    <p>Join now and Capture your story.</p>
    <a href="/" class="home-btn">Home</a>
  </div>
  <div class="container">
    <div class="content">
      <!--logo -->
      <img src="/images/NAVQS.PNG" alt="pin logo" class="img1" />
      <p class="header"> Sign In</p>

      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" required /><br />
        <input type="text" name="username" placeholder="Username" class="detail" required /><br />
        <input type="text" name="fullname" placeholder="Full Name" class="detail" required /><br />
        <input type="password" name="password" placeholder="Password" class="detail" required />
        <input type="submit" class="btn int" value="Register">
      </form>

      <footer>
        <p>
          By continuing, you agree to QuickStory60's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login" class="forgot-password">Already on QuickStory60? Login</a>
      </footer>
    </div>
  </div>
</body>

</html>