body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
    font-family: "Helvetica";
}
.navbar-custom {
    height: 80px;
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 0 20px;
    border-bottom: 0.9px solid rgb(111, 110, 110);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar-custom * {
    background-color: #000000 !important;
}

.w-full {
    width: 100%;
}

.px-1 {
    padding-left: 1px;
    padding-right: 1px;
}

.py-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

.justify-between {
    justify-content: space-between;
}

.bg-zinc-800 {
    background-color: #000000;
}

.text-white {
    color: white;
}


.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    margin-right: 10px ;
}

.search-icon {
    color: white;
    margin-right: 10px;
}

.search-container input.search-input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #e3e3e3;
    color: white !important;
}

.search-container input.search-input::placeholder {
  color: rgb(156, 156, 156);
}

.container {
    max-width: calc(100% - 160px);
    margin: 0 auto;
    padding: 20px;
}

.grid {
    column-count: 5;
    column-gap: 30px;
    margin-top: 20px;
}

.card {
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 28px 0px #000000;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    color: #ffffff;
    border-style: outset;
}

.card-video{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    color: #ffffff; 
    border-radius: 1px; 
    padding: 2px;
}

.card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title-container i{
    color: #ffffff;
    font-size: 1.5em;
    transition: color 0.3s;
}

.like-container {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.like-container i {
    font-size: 1.5em; 
    color: #ffffff; 
    transition: color 0.3s; 
    cursor: pointer; 
}

.like-container i:hover {
    color: #76ABAE; 
}

.like-count {
    font-size: 1em;
    color: #ffffff; 
}

.ri-heart-fill.liked {
    color: red;
}

.card-title{
    font-size: 1.2em;
    text-align: left;
}

.card-text{
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #76ABAE;
    text-align: center;
}

.img1 {
    width: 70px;
    margin-left: 10px;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    background-color: #000000 !important;
}

.nav-links {
    display: flex;
    gap: 20px;
    background-color: #000000;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links-visible {
    display: flex !important;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    background-color: #000000 !important;
}

.nav-link.profile-link {
    margin-right: auto;
    background-color: #000000;
}

.logo-container a,
.nav-link a {
    background-color: #000000 !important;
}

.nav-link.home-link {
    background-color: #000000;
}

.nav-link.home-link:hover, .nav-link.profile-link:hover, .nav-link:hover{
    color: #76ABAE;
}

.error {
    font-weight: 500;
    color: #f30d19;
    text-transform: capitalize;
    margin: 7px 0;
}

/* Responsiv Design */
@media (max-width: 768px) {
    .search-container input.search-input {
        width: 100%;
    }

    .grid {
        column-count: 1;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .menu-toggle:hover{
        color: #76ABAE;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
        background-color: #000000;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 999;
    }

    .nav-links-visible {
        display: flex;
    }

    .nav-link {
        margin: 10px 0;
    }

    .home-link{
        margin-right: 20px;
    }
    
}

@media (max-width: 1200px) {
    .grid {
        column-count: 4;
    }
}

@media (max-width: 992px) {
    .grid {
        column-count: 3;
    }
}

@media (max-width: 576px) {
    .grid {
        column-count: 1;
    }
}